# DEPENDENCY MANAGERS - COMPOSER, BOWER, NODE / YARN
/vendor
/components
/node_modules

# GIT
!**/.gitkeep

# STORAGE
/storage/

# ENV
/.env*

# DEV -.-
/sublime
/.idea

# TESTS ;-)
/tests/_output/*
/tests/acceptance.suite.yml
/tests/_support/_generated/*
/codeception.yml

# NPM DEBUG
/npm-debug.log
